canvas
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
    display: block;
    position: relative;
}

h3, h2{
	margin: 0px;
}

.section{
	margin-top: 0px;
}

#myGame{
	border-style: solid;
	border-width: 5px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#title{
	margin-top: 5px;
	text-align: center;
}

#GridSlider.slider-selection {
	background: #BABABA;
}

.input-group{
	margin-left: auto;
	margin-right: auto;
}

#amount, #amount2, #amount3{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.btn{
	margin-right: 5px;
}

#heightInput, #widthInput, #speedInput{
	display: inline-block;
	margin: 0px;
}

#heightTitle, #widthTitle, #speedTitle{
	margin: 0px;
}